{% extends 'base.html'%}
{% block maincontent %}

<div class="body-index">
    {% comment %} <form action="{% url 'kunwariwebpage:chatbot'%}" method="post" enctype="multipart/form-data"> {% endcomment %}
    <form>
        {% csrf_token %}
        <h1>Kunwari Activator</h1>
        <textarea id="prompt" placeholder="eg. mathematics, 60 minutes, learning objectives" name="prompt"></textarea>
        {% comment %} this is the input field that i am talking about {% endcomment %}
        {% comment %} <input type="file" id="files" name="files" accept=".docx, .pdf, .txt, image/*" multiple> {% endcomment %}
        <input type="file" id="filesInput" name="files" accept=".docx, .pdf, .txt, image/*" multiple>
        <div id="filePreviewList" class="file-list"></div>
        <button class="submit" type="submit" id="submit-to-chatgpt" disabled>Generate Lesson Plan</button>
        {% comment %} <button class="submit" type="submit" id="generate-episodes" disabled>Generate Episodes</button> {% endcomment %}
        <button class="submit" type="submit" id="generate-content" disabled>Generate Content</button>
        <button class="submit" type="submit" id="generate-facilitator-script" disabled>Generate Facilitator Script</button>
    </form>
    
    <div class="chat-container">
        <ul class="tabs-heading">
            <li data-target="lesson_plan" class="active">Lesson plan</li>
            {% comment %} <li data-target="episodes">Episodes</li> {% endcomment %}
            <li data-target="content">Content</li>
            <li data-target="facilitator_script">Script</li>
        </ul>
        <div class="tabs-body">
            <div id="lesson_plan" class="chat_response" contenteditable></div>
            {% comment %} <div id="episodes" class="chat_response" contenteditable hidden></div> {% endcomment %}
            <div id="content" class="chat_response" contenteditable hidden></div>
            <div id="facilitator_script" class="chat_response" contenteditable hidden></div>
        </div>
        <div class="message-download">
            {% comment %} <button class="submit btn-under-gptresponse" id="download-pptx" disabled>Download</button> {% endcomment %}
            <button class="submit btn-under-gptresponse" type="submit" id="generate-pptx" disabled>Download</button>
            <button class="submit btn-under-gptresponse" type="submit" id="compile-all-and-generate-pptx" disabled>Download All</button>
            <button class="submit btn-under-gptresponse" onClick="window.location.href=window.location.href" >Reset</button>
            <p id="message"></p>
        </div>
    </div>
</div>
{% comment %} {% include 'kunwariwebpage/guide.html' %} {% endcomment %}

<script> // TEXTAREA HEIGHT AUTO RESIZE
    const textarea = document.getElementById('prompt');

    textarea.addEventListener('input', function() {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    });
</script>

<script> // USER DROPDOWN
    function toggleDropdown() {
        document.getElementById("userDropdown").classList.toggle("show");
      }
    
      window.onclick = function(event) {
        if (!event.target.matches('.user-btn') && !event.target.closest('.user-options')) {
          var dropdown = document.getElementById("userDropdown");
          if (dropdown.classList.contains('show')) {
            dropdown.classList.remove('show');
          }
        }
      }
</script>

<script> // THEME DROPDOWN
    function toggleThemeDropdown() {
        const dropdown = document.getElementById('themeDropdown');
        dropdown.classList.toggle('show');
    }
    
    document.addEventListener('click', function(event) {
        const dropdown = document.getElementById('themeDropdown');
        const toggleButton = document.querySelector("a[onclick='toggleThemeDropdown()']");
        
        if (!toggleButton.contains(event.target) && !dropdown.contains(event.target)) {
            dropdown.classList.remove('show');
        }
    });
</script>

{% endblock %}
