{% extends 'kunwariwebpage/base.html'%}
{% block maincontent %}

<body class="login">
    <div class="login-container">
        <h2 class="login">Login</h2>
        <form action="" method="POST">
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <div class="remember">
                <input type="checkbox" id="remember"> <label for="remember">Remember Me</label>
                <a href="#" class="forgot">Forgot Password?</a>
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="signup">
            <p>Don't have an account? <a href="#">Sign up</a></p>
        </div>
      </div>
</body>

{% endblock %}
